# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info
dist/
build/
.venv
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Data
/data/*
/data/raw/*
/data/processed/*
/notebooks/data_reduction.ipynb

# Carpeta Documentación y todo su contenido
Documentacion/

# Config
/config/config.py
